<!DOCTYPE html>
<html>
<head>
	<title>Economy during Covid19</title>

	<style>
		body{
			background-image: linear-gradient(-90deg, white, #F2BAC1);
		}
		#summarise button{
			background-color: red;
			color: white;
			padding: 15px;
			font-weight: bold;
			font-family: Comic Sans MS;
			font-size: 20px;
			border-radius: 10px;
			cursor: pointer;
		}
		#header{
			background-color: #DF3E0A;
			font-weight: bold;
			color: white;
			text-align: center;
			font-size: 50px;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		#intro{
			font-family: Comic Sans MS;
			background-color: #F2BAC1;
			text-align: center;
			padding-left: 200px;
			padding-right: 200px;
			padding-top: 30px;
			padding-bottom: 30px;
			font-weight: bold;
			font-size: 20px;
		}
		#content{
			width: 50%;
			margin: auto;
		}
		#mainhead{
			padding-top: 20px;
			text-align: center;
			font-weight: bold;
			font-size: 35px;
			border-bottom: 1px solid black;
			padding-bottom: 10px;
		}
		#chead{
			padding-top: 20px;
			color: #BF0B21;
			font-size: 25px;
			font-weight: bold;
		}
		#cbody{
			padding-top: 20px;
			font-family: Comic Sans MS;

		}
	</style>
</head>
<body>

<div id="header">
		<div id="summarise">
	<button><a href="{{ url_for('summarise3') }}">Summarise</a></button>
</div>
		Impact of Coronavirus on Indian Ecomomy
	</div>

<div id="intro">
	Coronavirus outbreak was first reported in Wuhan, China on 31 December, 2019. Before reading in detail about the impact, first, let us study about coronavirus.<br><br>

Coronavirus (CoV) is a large family of viruses that causes illness. It ranges from the common cold to more severe diseases like Middle East Respiratory Syndrome (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV). The novel coronavirus is a new strain of virus that has not been identified in human so far.<br><br>

Recently an industry survey that is jointly conducted by industry body Ficci and tax consultancy Dhruva advisors and took responses from about 380 companies across the sectors. It is said that businesses are grappling with "tremendous uncertainty" about their future. <br><br>

According to the survey, COVID-19 is having a 'deep impact' on Indian businesses, over the coming month's jobs are at high risk because firms are looking for some reduction in manpower. Further, it is added that already COVID-19 crisis has caused an unprecedented collapse in economic activities over the last few weeks. <br><br>

The present situation is having a "high to very high" level impact on their business according to almost 72 per cent respondents. Further, 70 per cent of the surveyed firms are expecting a degrowth sales in the fiscal year 2020-21.<br><br>

Ficci said in a statement, "The survey clearly highlights that unless a substantive economic package is announced by the government immediately, we could see a permanent impairment of a large section of the industry, which may lose the opportunity to come back to life again."<br><br>

The survey found:
- In respect to the approved expansion plans, around 61 per cent of the respondents expect to postpone such expansions for a period of up to 6 or 12 months, while 33 per cent expect it to for more than 12 months.<br><br>

- Surveyed firms of around 60 per cent have postponed their fund-raising plans for the next 6-12 months. Also, nearly 25 per cent of the firms have decided the same.<br><br>

- Surveyed firms around 43 per cent have reported that they do not predict an impact on exports. Further, 34 per cent said that exports would take a hit by more than 10 per cent.<br><br>

According to Du  & Bradstreet, COVID-19 no doubt disrupted human lives and global supply chain but the pandemic is a severe demand shock which has offset the green shoots of recovery of the Indian economy that was visible towards the end of 2019 and early 2020. The revised Gross Domestic Product (GDP) estimates for India downwards by 0.2 percentage points for the fiscal year 2020 to 4.8 per cent and by 0.5 per cent for the fiscal year 2021 to 6 per cent. Further, it is stated that the extent of the actual impact will depend upon the severity and duration of the outbreak.<br><br>

There are three major channels of impact for Indian businesses according to the report namely linkages, supply chain and macroeconomic factors. The data of the Dun & Bradstreet shows that at least 6,606 Indian entities have legal linkages with companies in countries with a large number of confirmed COVID-19 cases. And business activity in the foreign markets is slow which implies a negative impact on the topline of these companies. Sectors that would be much affected includes logistics, auto, tourism, metals, drugs, pharmaceuticals, electronic goods, MSMEs and retail among others.<br><br>

Further, according to the World Bank's assessment, India is expected to grow 1.5 per cent to 2.8 per cent. And IMF projected a GDP growth of 1.9 per cent for India in 2020 because the global economy is affected by the COVID pandemic, the worst recession since the Great Depression in the 1930s. Also, we can't ignore that the lockdown and pandemic hit several sectors including MSME, hospitality, civil aviation, agriculture and allied sector.<br><br>

According to KPMG, the lockdown in India will have a sizeable impact on the economy mainly on consumption which is the biggest component of GDP. <br><br>

Reduction in the urban transaction can lead to a steep fall in the consumption of non-essential goods. It can be severe if disruption causes by the 21-day lockdown and affect the availability of essential commodities.<br><br>

Due to weak domestic consumption and consumer sentiment, there can be a delay in investment which further add pressure on the growth.<br><br>
We can't ignore that post-COVID-19, some economies are expected to adopt de-risking strategies and shift their manufacturing bases from China. This can create opportunities for India.<br><br>
According to KPMG, opportunities will largely depend on how quickly the economy recovers and the pace at which the supply chain issues are addressed.<br><br>

KPMG India Chairman and CEO Arun M Kumar said: "Apart from providing robust safety nets for the vulnerable, a focus on ensuring job continuity and job creation will be imperative". "And there is urgent need to mobilise resources to stimulate the economy for increased demand and employment". <br><br>
According to the KPMG report "It is expected that the course of economic recovery in India will be smoother and faster than that of many other advanced countries". <br><br>

In terms of trade, China is the world’s largest exporter and second-largest importer. It accounts for 13% of world exports and 11% of world imports.  <br><br>

Up to a large extent, it will impact the Indian industry. In imports, the dependence of India on China is huge. Of the top 20 products (at the two-digit of HS Code) that India imports from the world, China accounts for a significant share in most of them.<br><br>

India’s total electronic imports account for 45% of China. Around one-third of machinery and almost two-fifths of organic chemicals that India purchases from the world come from China? For automotive parts and fertilisers China’s share in India’s import is more than 25%. Around 65 to 70% of active pharmaceutical ingredients and around 90% of certain mobile phones come from China to India.<br><br>

Therefore, we can say that due to the current outbreak of coronavirus in China, the import dependence on China will have a significant impact on the Indian industry.<br><br>

In terms of export, China is India’s 3rd largest export partner and accounts for around 5% share. The impact may result in the following sectors namely organic chemicals, plastics, fish products, cotton, ores, etc.<br><br>

We also can’t ignore that most of the Indian companies are located in the eastern part of China. In China, about 72% of companies in India are located in cities like Shanghai, Beijing, provinces of Guangdong, Jiangsu, and Shandong. In various sectors, these companies work including Industrial manufacturing, manufacturing services, IT and BPO, Logistics, Chemicals, Airlines, and tourism.<br><br>

It has been seen that some sectors of India have been impacted by the outbreak of coronavirus in China including shipping, pharmaceuticals, automobiles, mobiles, electronics, textiles, etc. Also, a supply chain may affect some disruptions associates with industries and markets. Overall, the impact of coronavirus in the industry is moderate.<br><br>

According to CLSA report, pharma, chemicals, and electronics businesses may face supply-chain issues and prices will go up by 10 percent. The report also says that India could also be a beneficiary of positive flows since it appears to be the least-impacted market. Some commodities like metals, upstream and downstream oil companies, could witness the impact of lower global demand impacting commodity prices.<br><br>

According to CII, GDP could fall below 5% in FY 2021 if policy action is not taken urgently. It is said that the government should take some strong fiscal stimulus to the extent of 1% of GDP to the poor, which would help them financially and also manage consumer demand.<br>
<br>
In the third quarter (October-December) growth is slowed down to 4.7% and the impact of COVID-19 will further be seen in the fourth quarter. <br><br>

Ficci survey showed 53% of Indian businesses have indicated a marked impact of COVID-19 on business operations. And 42% of the respondents said that up to three months could take for normalcy to return.<br>
<br>


</div>

<div id="content">
	<div id="mainhead">Sector-wise impact on Indian industry</div>
	<div id="chead">Chemical Industry</div>
	<div id="cbody">Some chemical plants have been shut down in China. So there will be restrictions on shipments/logistics. It was found that 20% of the production has been impacted due to the disruption in raw material supply. China is a major supplier of Indigo that is required for denim. Business in India is likely to get affected so people securing their supplies. However, it is an opportunity. US and EU will try and diversify their markets. Some of the business can be diverted to India which can also be taken as an advantage.</div>

	<div id="chead">Shipping Industry</div>
	<div id="cbody">Coronavirus outbreak has impacted the business of cargo movement service providers. As per the sources, per day per vessel has declined by more than 75-80% in dry bulk trade.</div>

	<div id="chead">Automobile Industry</div>
	<div id="cbody">Its impact on Indian companies will vary and depend upon the extent of the business with China. China’s business no doubt is affected. However, current levels of the inventory seem to be sufficient for the Indian industry. If the shutdown in China continues then it is expected to result in an 8-10% contraction of Indian auto manufacturing in 2020.</div>

	<div id="chead">Pharmaceuticals Industry</div>
	<div id="cbody">Despite being one of the top formulations of drug exporters in the world, the pharma industry of India relies heavily on import as of bulk drugs. Due to the coronavirus outbreak, it will also be impacted.</div>

	<div id="chead">Solar Power Sector Industry</div>
	<div id="cbody">Indian developers may face some shortfall of raw materials needed in solar panels/cells and limited stocks from China.</div>

	<div id="chead">Electronics Industry</div>
	<div id="cbody"> The major supplier is China in electronics being a final product or raw material used in the electronic industry. India’s electronic industry may face supply disruptions, production, reduction impact on product prices due to heavy dependence on electronics component supply directly or indirectly and local manufacturing.</div>

	<div id="chead">IT Industry</div>
	<div id="cbody">The New Year holidays in China has been extended due to coronavirus outbreak that adversely impacted the revenue and growth of Indian IT companies.</div>

	<div id="chead">Tourism and Aviation Industry</div>
	<div id="cbody"> Due to the coronavirus outbreak, the inflow of tourists from China and from other East Asian regions to India will lose that will impact the tourism sector and revenue.<br><br>

An outbreak of COVID-19 impacted the whole world and has been felt across industries. The outbreak is declared as a national emergency by the World Health Organisation. In India the three major contributors to GDP namely private consumption, investment and external trade will all get affected. World and Indian economy are attempting to mitigate the health risks of COVID-19 with the economic risks and necessary measures needed will be taken to improve it.</div>

</div>

</body>
</html>