<!DOCTYPE html>
<html>
<head>
	<title>Education in Covid-19</title>

	<style>
		body{
			background-image: linear-gradient(-90deg, white, #BAEC81);
		}
		#summarise button{
			background-color: red;
			color: white;
			padding: 15px;
			font-weight: bold;
			font-family: Comic Sans MS;
			font-size: 20px;
			border-radius: 10px;
			cursor: pointer;
		}
		#header{
			background-color: #07AD0A;
			font-weight: bold;
			color: white;
			text-align: center;
			font-size: 50px;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		#intro{
			background-color: #B3EA74;
			text-align: center;
			padding-left: 200px;
			padding-right: 200px;
			padding-top: 30px;
			padding-bottom: 30px;
			font-weight: bold;
			font-size: 20px;
		}
		#content{
			width: 50%;
			margin: auto;
		}
		#mainhead{
			text-align: center;
			font-weight: bold;
			font-size: 35px;
			border-bottom: 1px solid black;
			padding-bottom: 10px;
		}
		#chead{
			color: #4A8508;
			font-size: 25px;
			font-weight: bold;
		}
		#cbody{
			font-family: Comic Sans MS;

		}
	</style>


</head>
<body>
	<div id="header">
		<div id="summarise">
	<button><a href="{{ url_for('summarise2') }}">Summarise</a></button>
</div>
		Impact of Coronavirus on Education
	</div>

	<div id="intro">
		It’s that time of year again, graduation season! Right now, our social media feeds should be flooded with photos and posts congratulating this year’s high school seniors and university graduates.<br>

However, ceremony invitations weren’t sent this year as the impact of coronavirus has tossed out the idea of a traditional graduation all together. <br>

The near-total closures of schools, universities, and colleges worldwide has reshaped nearly every aspect of normal life. Based on UNESCO data, more than a billion (yes, billion with a B!) students were thrown into very uncertain waters as the pandemic put a halt to in-person classes and courses.<br>

From primary schools to PhD programs, students across the globe are experiencing the altering effects of coronavirus as classrooms move online and course curriculums stretch into the summer. <br>

Both students and teachers have been burdened with the task of adapting to an online learning environment seemingly overnight. As well, many parents have been forced to take on the role of IT technician, teacher, and babysitter as kids remain struck at home.<br> 
Although the stark consequences of COVID-19 have thrown both families and the education industry for a loop, the sudden switch to digital learning has brought with it a few valuable lessons. In fact, the future of education has been transformed to not only accommodate online classrooms, but embrace a digital education. 
	</div>

	<div id="content">
		<p id="mainhead">The Major Challenges of Online Learning</p>
		<p id="chead">Technical Difficulties </p>
		<p id="cbody">Whether it’s unstable wifi or a confusing interface, technology plays a huge role in online learning. Subsequently, many teachers and students find it quite difficult to adjust to learning and teaching from the confines of a computer screen. <br>
		While this problem is likely to get better as users become more familiar and comfortable with the new online classroom platform, it’s nonetheless an annoyance to undergo. </p>

		<p id="chead">Disrupted Schedules</p>
		<p id="cbody">For younger students especially, keeping a consistent schedule is extremely important for maintaining discipline and motivation. The sudden termination of in-person classes has made it much more challenging for students to properly manage their time and remain productive throughout the day. <br>
		Additionally, students must adapt to studying primarily at home with the diminished assistance of an instructor. While this may encourage students to explore new studying methods, it poses an extreme disadvantage for educators to evaluate students. </p>

		<p id="chead">Substantial Delays </p>
		<p id="cbody">Due to the closure of schools and business, many students suddenly had no idea when or how classes would resume. During this time, teachers and administrators were understandably ill prepared as many scrambled to establish an online platform that could deliver the same quality of education as before. <br>
		This delay in courses has pushed the majority of student course schedules deeper into the summer. Although the educational system was unequipped to move 100 percent online, perhaps this experience will force schools to invest in an easily transferable digital platform for coursework in the future.</p>

		<p id="chead">Struggling Parents </p>
		<p id="cbody">It’s no secret that most parents aren’t exactly delighted to fill the role of teacher this semester – especially those who are trying to work from home. Moving to online learning has put parents in a precarious situation as many have struggled to manage their professional and domestic responsibilities.<br>
		Furthermore, parents who are employed as health care professionals or front line workers are forced to either find childcare or take off work. This has placed extra stress on families and may even become a financial burden to some. </p>

		<p id="mainhead">Emerging Opportunities for the Education Industry </p>

		<p id="chead">Free Online Courses </p>
		<p id="cbody">Although students have lost the one-on-one learning experience offered in the classroom, several online learning platforms are seeking to help students finish the semester strong by offering free online courses. <br>
		Worldwide learning platforms, including Coursera and Khan Academy, are providing everything from online college courses to homework problem assistance. The impact of COVID-19 has inspired academic resources to become more readily accessible and widely available. </p>

		<p id="chead">Reaching Students via Social Media </p>
		<p id="cbody">Before social distancing, many students would receive assignments and updates directly from their teacher. However, given the recent changes, communication has been a point of contingency as both students’ and teachers’ emails are overflowing. <br>
		Rather than sending out emails that are either going to be ignored or overlooked, schools are turning to social media in an effort to inform students of important dates and resources available to them. Social media platforms, including Instagram, Facebook, and Twitter, are all hotspots for students to get academic information willingly. <br>
		Social media platforms have played a crucial role in disseminating news about the spread of COVID-19.</p>

		<p id="chead">Unique Learning Experience </p>
		<p id="cbody">Online learning is an excellent opportunity to introduce students to technology that they wouldn’t have otherwise experienced. Children of all ages are getting a chance to become familiarized with video chat and its many features.<br>
		Students are also learning valuable lessons of internet safety, digital literacy and time management. The many new responsibilities will likely be a formative experience for younger generations and their relationship with technology.</p>

		
		<p id="mainhead">How Higher Education Is Digitally Transforming</p>


		<p id="chead">Virtual Campus Tours  </p>
		<p id="cbody">Despite social distancing, which removed any chance of campus tours this spring, many schools have been proactive in giving prospective students an up close look at their campus. Websites such as CampusTours are offering virtual tours of more than 1,800 schools in the United States, as well as tours of schools in the United Kingdom, Canada, China, and France.<br>
		Other resourceful platforms include StriveScan, which is offering students a chance to ask questions to officials from more than 450 colleges from 45 states and 13 countries on everything from college essay advice to applying for financial aid. </p>

		<p id="chead">More Online Classes </p>
		<p id="cbody">Before the spread of COVID-19, many colleges and universities had limited online course options, especially over the summer. However, given the situation and lack of alternative options, schools around the world have begun offering more online courses than ever before. <br>
		In fact, there’s not only more online college courses available but some schools are providing discounts as well.</p>

		<p id="chead">Hosting Live Events</p>
		<p id="cbody">Spring and summer time are usually when universities host a number of activities on their campuses such as camps, meetings, and other ancillary activities. However, given the restrictions of social distancing, many universities are moving their activities onto social media rather than cancelling them.<br>
		A prime example of universities going digital are the countless schools opting to live stream graduation ceremonies. Instead of the normally jam-packed auditorium, students and families will be able to watch their names appear on the stage from the comfort and safety of home.</p>

		<p id="chead">Greek Life Goes Virtual</p>
		<p id="cbody">A crucial element of many American universities is the presence of greek life on campus. While thousands of incoming students would be preparing for recruitment week, this year’s drafting process will be slightly different as it will be held virtually. <br>
		For example, Stanford decided to host informal recruitment events at the end of its spring quarter. Those events include online workout sessions, cooking demos, Netflix viewing parties, game nights, and meet-and-greets with current members of some organizations.</p>


	</div>
</body>
</html>