<!DOCTYPE html>
<html>
<head>
	<title>Nutrition in Covid-19</title>

	<style>
		body{
			background-image: linear-gradient(-90deg, gray, white);
		}
		#header{
			background-color: #0F8CCB;
			font-weight: bold;
			color: white;
			text-align: center;
			font-size: 50px;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		#header p{
			font-size: 15px;
		}
		#intro{
			background-color: #93D8FB;
			text-align: center;
			padding-left: 200px;
			padding-right: 200px;
			padding-top: 30px;
			padding-bottom: 30px;
			font-weight: bold;
			font-size: 20px;
		}
		#main{
			text-align: center;
			font-weight: bold;
			font-size: 35px;
			color: #045C88;
		}
		#content{
			width: 50%;
			margin: auto;
		}
		#tiphead{
			color: #07AD0A;
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			width: 80%;
			margin: auto;
			border-bottom: 2px solid #07AD0A;
			padding-bottom: 10px;
		}
		#tipbody{
			font-family: Comic Sans MS;
			padding-bottom: 20px;
		}
		#summarise button{
			background-color: red;
			color: white;
			padding: 15px;
			font-weight: bold;
			font-family: Comic Sans MS;
			font-size: 20px;
			border-radius: 10px;
			cursor: pointer;
		}
	</style>
</head>
<body>

<div id="header">
	<div id="summarise">
	<button><a href="{{ url_for('summarise1') }}">Summarise</a></button>
</div>
	Food and nutrition tips during self-quarantine
	<p>Note: This guidance is aimed at individuals and families in contexts where self-quarantine and isolation have been recommended or required. </p>
</div>

<div id="intro">
	As countries are taking stronger measures to contain the spread of COVID-19, self-quarantine and the temporary closing of businesses may affect normal food-related practices. Healthy individuals, as well as those showing acute respiratory disease symptoms, are being requested to stay at home. In some countries, restaurants and take-away offers are being limited and some fresh items are becoming less available.<br>

Good nutrition is crucial for health, particularly in times when the immune system might need to fight back. Limited access to fresh foods may compromise opportunities to continue eating a healthy and varied diet. It can also potentially lead to an increased consumption of highly processed foods, which tend to be high in fats, sugars and salt. Nonetheless, even with few and limited ingredients, one can continue eating a diet that supports good health.<br>

For optimal health, it is also important to remain physically active. To support healthy individuals in staying physically active while at home, WHO/Europe has developed specific guidance for periods of quarantine, including tips and examples of home-based exercises.
<br>
Stay physically active during self-quarantine
</div>

<div id="content">
	<p id="main">GENERAL TIPS</p>
	<div id="tip">
		<p id="tiphead">Make a plan - take only what you need </p>
		<p id="tipbody">Multiple cases of over-purchasing have been observed throughout the WHO European Region. Panic buying behaviour may have negative consequences, such as an increase in food prices, overconsumption of food and an unequal distribution of products. It is therefore important to consider your own needs, as well as those of others. Assess what you already have at home and plan your intake. You might feel the need to purchase large amounts of foods, but make sure to consider and utilize what is already in your pantry, as well as foods with shorter shelf life. This way you can avoid food waste and allow others to access the food they need.</p>
	</div>

	<div id="tip">
		<p id="tiphead">Be strategic about the use of ingredients - prioritize fresh products</p>
		<p id="tipbody">Use fresh ingredients and those that have a shorter shelf life first. If fresh products, especially fruits, vegetables and reduced-fat dairy products continue to be available, prioritize these over non-perishables. Frozen fruits and vegetables can also conveniently be used over longer periods of time and often have a similar nutrient profile to fresh foods. To avoid food waste, you may consider freezing any leftovers for another meal.</p>
	</div>

	<div id="tip">
		<p id="tiphead">Prepare home-cooked meals </p>
		<p id="tipbody">During regular daily life, many individuals often do not have the time to prepare home-cooked meals. Spending longer periods of time at home may now offer the possibility to make those recipes you previously did not have time to make. Many healthy and delicious recipes can be found online. Take advantage of the wealth of freely available information, and experiment with the ingredients you can access, but remember to keep in mind the principles for healthy eating offered in this guidance. Some examples of healthy recipes with accessible ingredients may also be found below.</p>
	</div>

	<div id="tip">
		<p id="tiphead">Be aware of portion sizes </p>
		<p id="tipbody">It can be difficult to get portion sizes right, especially when cooking from scratch. Being at home for extended periods, especially without company or with limited activities can also lead to overeating. Seek guidance through your national food-based dietary guidelines on what constitutes healthy portions for adults and be mindful that young children will need smaller portions.</p>
	</div>

	<div id="tip">
		<p id="tiphead">Follow safe food handling practices </p>
		<p id="tipbody">Food safety is a prerequisite for food security and a healthy diet. Only safe food is healthy food. When preparing food for yourself and others, it is important to follow good food hygiene practices to avoid food contamination and foodborne diseases. The key principles of good food hygiene include. keep your hands, kitchen and utensils clean,  separate raw and cooked food, especially raw meat and fresh produce, cook your food thoroughly, keep your food at safe temperatures, either below 5 °C or above 60 °C; and use safe water and raw material.</p>
	</div>

	<div id="tip">
		<p id="tiphead">Limit your salt intake </p>
		<p id="tipbody">The availability of fresh foods may decrease and it may therefore become necessary to rely more on canned, frozen or processed foods. Many of these foods contain high levels of salt. WHO recommends consuming less than 5 g of salt per day. In order to achieve this, prioritize foods with reduced or no added salt. You may also consider rinsing canned foods such as vegetables and beans, to remove some of the excess sodium. Be aware that pickled foods often contain high levels of sodium too. In many countries, 50–75% of the salt intake comes from the foods we eat, rather than what we add ourselves. Given that you might be consuming enough salt already, avoid adding extra salt when cooking and to your meals at the table. Experiment with fresh or dried herbs and spices for added flavour instead. </p>
	</div>

	<div id="tip">
		<p id="tiphead">Limit your sugar intake </p>
		<p id="tipbody">WHO recommends that ideally less than 5% of total energy intake for adults should come from free sugars (about 6 teaspoons). If you crave something sweet, fresh fruit should always be the priority. Frozen fruits, canned fruits in juice rather than syrup, and dried fruits with no added sugar are also good options. When other dessert options are chosen, ensure that they are low in sugar and consume small portions. Watch out for low fat options, as these are often high in added sugars. Limit the amount of sugar or honey added to foods and avoid sweetening your beverages.</p>
	</div>

	<div id="tip">
		<p id="tiphead">Limit your fat intake   </p>
		<p id="tipbody">WHO recommends limiting total fat intake to less than 30% of total energy intake, of which no more than 10% should come from saturated fat. To achieve this, opt for cooking methods that require less or no fat, such as steaming, grilling or sautéing instead of frying foods. If needed, use small amounts of unsaturated oils like rapeseed, olive or sunflower oil to cook foods. Prefer foods that contain healthy sources of unsaturated fats, such as fish and nuts. To limit saturated fats, trim excess fat from meat and poultry and choose skinless options. Reduce foods such as red and fatty meats, butter and full-fat dairy products, palm oil, coconut oil, solid shortening and lard.<br>
		Avoid trans fats as much as possible. Read nutrition labels to ensure that partially hydrogenated oils are not listed in the ingredients. If food labels are not available, avoid foods which commonly contain trans fats such as processed and fried foods, like doughnuts and baked goods – including biscuits, pie crusts, frozen pizzas, cookies, crackers and margarines that include partially hydrogenated fat. If in doubt, minimally processed foods and ingredients are better choices.</p>
	</div>

	<div id="tip">
		<p id="tiphead">Consume enough fibre  </p>
		<p id="tipbody">Fibre contributes to a healthy digestive system and offers a prolonged feeling of fullness, which helps prevent overeating. To ensure an adequate fibre intake, aim to include vegetables, fruit, pulses and wholegrain foods in all meals. Wholegrains foods include oats, brown pasta and rice, quinoa and whole-wheat bread and wraps, rather than refined grain foods such as white pasta and rice, and white bread. </p>
	</div>

	<div id="tip">
		<p id="tiphead">Stay hydrated</p>
		<p id="tipbody">Good hydration is crucial for optimal health. Whenever available and safe for consumption, tap water is the healthiest and cheapest drink. It is also the most sustainable, as it produces no waste, compared to bottled water. Drinking water instead of sugar-sweetened beverages is a simple way to limit your intake of sugar and excess calories. To enhance its taste, fresh or frozen fruits like berries or slices of citrus fruits may be added, as well as cucumber or herbs such as mint, lavender or rosemary.<br>
		Avoid drinking large amounts of strong coffee, strong tea, and especially caffeinated soft drinks and energy drinks. These may lead to dehydration and can negatively impact your sleeping patterns. </p>
	</div>

	<div id="tip">
		<p id="tiphead">Avoid alcohol or at least reduce your alcohol consumption  </p>
		<p id="tipbody">Alcohol is not only a mind-altering and dependence-producing substance, harmful at any level consumed, but it also weakens the immune system. Thus, alcohol use and especially heavy use undermines your body’s ability to cope with infectious disease, including COVID-19. <br>
		It is recommended that alcohol in general be avoided, but especially when in self-quarantine. As a psychoactive substance, alcohol also affects your mental state and decision-making and makes you more vulnerable to risks, such as falls, injuries, or violence when under quarantine with someone else. Alcohol consumption is also known to increase symptoms of depression, anxiety, fear and panic – symptoms that can intensify during isolation and self-quarantine. Consuming alcohol is not a good coping mechanism, neither in the short nor long term, although you might think that it will help you deal with stress.<br>
		Alcohol also makes certain medications less effective, while increasing the potency and toxicity of others. Do not consume alcohol in combination with pain medication, as alcohol will interfere with your liver functions and might cause serious problems, including liver failure.<br>
		Under no circumstances should you consume any type of alcoholic products as a preventive or treatment measure against COVID-19. <br>
		Alcohol is not a necessary part of your diet and not part of a healthy lifestyle and should therefore not be on your shopping list.

</p>
	</div>

</div>

</body>
</html>