<!DOCTYPE html>
<html>
<head>
	<title>Summarised Content</title>

	<style>
		body{
			background-image: linear-gradient(-90deg, white, #BAEC81);
		}
		#summarised{
			font-size: 20px;
			font-family: Comic Sans MS;
			font-weight: bold;
			padding-top: 50px;
			width: 50%;
			margin: auto;
		}
		#header{
			font-size: 35px;
			padding: 30px;
			font-weight: bold;
			background-color: #07AD0A;
			text-align: center;
			color: white;
		}
	</style>
</head>
<body>

<div id="header">
	{{ heading }}
</div>

<div id="summarised">
	{{ summary_result }}
</div>

</body>
</html>